{% extends "::base.html.twig" %}

{% block title %}AppBundle:Notificacion:view{% endblock %}

{% block body %}
<h1>Welcome to the Notificacion:view page</h1>

{% for cita in citasEstado %}

{% endblock %}
